.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.navbar-default {
    text-align:center;
}
.navbar-center {
    display: inline-block;
    float: none;
}
.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
.col-margin {
    margin-bottom: 20px;
}
.img-fix-height-300 {
    display: block;
    height: 300px;
}
.product-lighting:hover {
    background: #F8F8F8;
    cursor: pointer;
}