<!DOCTYPE html>
<html ng-app='myShop'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Shop</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body ng-controller="mainController">
<div class="container-fluid">
    <div class="header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-center">
                        <li class="navbar-form">
                            <label>Showing {{numberOfGoods > 0 ? (currentPage - 1) * currentPageSize + 1 : 0}}-{{currentPage != numberOfPages ? (currentPage - 1)
                            * currentPageSize + currentPageSize : numberOfGoods}} of
                            {{numberOfGoods}}</label>
                        </li>

                        <li class="navbar-form">
                            <div class="form-group">
                                <label >Search:</label>
                                <input ng-model="inputSearch" ng-change="inputSearchChange()" class="form-control" placeholder="input text">
                                <label >by</label>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">{{currentSearchBy}}</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Меню с переключением</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="itemSearchBy in listHeaderDropdownMenuItems.searchBy">
                                        <a ng-click="searchByClick(itemSearchBy.key)">{{itemSearchBy.key}}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="navbar-form">
                            <label>SORT BY:</label>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">{{currentSortBy}}</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Меню с переключением</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="itemSortBy in listHeaderDropdownMenuItems.sortBy">
                                        <a ng-click="sortByClick(itemSortBy.key)">{{itemSortBy.key}}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="navbar-form">
                            <label>PAGE SIZE:</label>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">{{currentPageSize}} per page</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Меню с переключением</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="itemPageSize in listHeaderDropdownMenuItems.pageSize">
                                        <a ng-click="pageSizeClick(itemPageSize)">{{itemPageSize}} per page</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="navbar-form">
                            <label>Page:</label>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">{{currentPage}}</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Меню с переключением</span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" role="menu">
                                    <li ng-repeat="itemPage in listHeaderDropdownMenuItems.page">
                                        <a ng-click="pageClick(itemPage)">{{itemPage}}</a>
                                    </li>
                                </ul>
                            </div>

                            <label>of {{numberOfPages}}</label>

                            <button type="button" class="btn btn-default" ng-disabled="isDisablePreviousPageButton()" ng-click="previousPageClick()"><</button>
                            <button type="button" class="btn btn-default" ng-disabled="isDisableNextPageButton()" ng-click="nextPageClick()">></button>

                        </li>

                        <li class="navbar-form">
                            <div class="btn-group btn-group">
                                <button type="button" class="btn btn-primary">Log in</button>
                                <button type="button" class="btn btn-success">Sign up</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div ng-show="isNotFound"><h3 align="center">No results found :(</h3></div>

    <div class="row equal" ng-repeat="letter in listGoods track by $index" ng-if="$index % 4 == 0">
        <div class="col-md-3 col-margin" ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3];" ng-if="listGoods[i] != null">
            <div class="text-center product-lighting" ng-click="openModalDialogButton(listGoods[i].id)">
                <img src="{{listGoods[i].picture}}"
                     class="img-responsive img-rounded center-block img-fix-height-300">
                <h4>{{listGoods[i].name}}</h4>
                <p><label>Price: {{listGoods[i].price}} $</label></p>
            </div>
            <div class="text-center">
                <label>Rating:</label>
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-info"><span class="glyphicon glyphicon glyphicon-star"></span></button>
                    <button type="button" class="btn btn-info"><span class="glyphicon glyphicon glyphicon-star"></span></button>
                    <button type="button" class="btn btn-info"><span class="glyphicon glyphicon glyphicon-star"></span></button>
                    <button type="button" class="btn btn-info"><span class="glyphicon glyphicon glyphicon-star"></span></button>
                    <button type="button" class="btn btn-info"><span class="glyphicon glyphicon glyphicon-star"></span></button>
                </div>
            </div>
            <div class="text-center">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span> Comp</button>
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Save</button>
                    <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-shopping-cart"></span> Shop</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalDialog{{itemGoods.id}}" class="modal fade" ng-repeat="itemGoods in listGoods">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">{{itemGoods.name}}</h4>
                </div>
                <div class="modal-body">
                    <img src="{{itemGoods.picture}}" class="img-responsive img-rounded center-block">
                    <p><label>Price: {{itemGoods.price}} $</label></p>
                    <h4>{{itemGoods.description}}</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
<script src="js/goods.js"></script>
<script src="js/controller.js"></script>
</body>
</html>